body{
  background: linear-gradient(to right, #56ab2f, #a8e063);
  overflow: hidden;
}


#canvas{
  display: none;
  width: 100vw;
}

.base{
  height: 100vh;
  background: linear-gradient(to right, #56ab2f, #a8e063); 
}

.login{
  height: 35vh;
  width: 45vw;
}

.register{
  display: none;
  height: 35vh;
  width: 45vw;
}

#sidepanel{
  height: 70vh;
  width: 35vw;
  background: #2c3e50;
  color: #f5f5f5;
}


.content{
  height: 70vh;
  width: 65vw;
  
}

.missatges{
  height: 70vh;
  background: #f5f5f5;
}

#usuaris{
  height: 70vh;
  width: 100vw;
}

#text{
  width: 30vw;
}

.canvinom{
  width: 33vw;
}
