#canvas{
    display: none;
}

#missatges{
    height: 300px;
    width: 400px;
    border: 1px solid black;
}

#text{
    border: 1px solid black;
    margin-left: 150px;
    width: 400px;
}

#usuaris{
    border: 1px solid black;
    height: 300px;
    width: 150px;
}
.top{
    display: flex;
    flex: row;
}